body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}
.header {
  background-color: #05202c;
  color: #fff;
  padding: 15px 0;
  text-align: center;
  letter-spacing: 3px;
}

.food {
  color: #ff9a76;
}

.travel {
  color: #a3b8c2;
}